/*general*/
.container,
.footer {
    background-color: #1F2937;
}

body {
    margin: 0;
}

button {
    background-color: #2883F6;
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
}

/*first section*/
.container {
    display: flex;
    flex-direction: column;

}

.header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 5% 15%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 30%;

}

.hero-text-h1 {
    max-width: 90%;
}

.hero-text-h1 h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-text p,
.header-link a,
button {
    color: #E5E7EB;
    font-size: 18px;
}

.logo,
.hero-text-h1 h1 {
    color: #F9FAF8;
}

.logo {
    display: flex;
    font-size: 24px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
}

a {
    text-decoration: none;
}

.hero img {
    width: auto;
    height: 325px;
    flex: 0 2 auto;
}

/*second section*/
.content {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin: 5rem;
}

.items {
    max-width: 140px;
}

.items p {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 5rem;
}

.items img {
    width: 140px;
    height: 140px;
    border: #2883F6 3px solid;
    border-radius: 5px;
}

/*quote section*/
.quote {
    padding: 1.25%;
    background-color: #E5E7EB;
}

.quote-content {
    margin: 0 auto;
    max-width: 50%;
}

.quote p {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

#name {
    text-align: end;
    font-size: x-large;
}

/*sign up section*/
.sign-up {
    margin: 0 15%;
    gap: 52px;
    padding: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: antiquewhite;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}