body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
}

.header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.hero-text {
    display: flex;
    flex-direction: column;

}

.hero-text-h1 {
    max-width: 40%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

img {
    width: 400px;
    height: 200px;
}